<!doctype html>
<html>
  <head>
    <title>WDInstagram</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
  <h1>WDInstagram</h1>
  
    <%= yield %>
  </body>
</html>
