
<h2> Upload yo' photos: </h2>

<form method="post" action="/posts">
  <input name="post[author]" type="text" placeholder="Author">
  <input name="post[photo_url]" type="text" placeholder="http://blah.blah.com/img.jpg">
  <input name="post[date_taken]" type="text" placeholder="December 31, 1999">
  <input type="submit" value="Upload">
</form>
